:root {
	--gtmkit-background-white: #fff;
	--gtmkit-border-color: #ddd;
	--gtmkit-text-color-heading: #454545;
	--gtmkit-text-color-grey: #777777;
	--gtmkit-color-primary: #3969bb;
	--gtmkit-color-success: #00a32a;
	--gtmkit-color-error: red;
	--gtmkit-space-h: 2rem;
}

