@import '../../../scss/_base.scss';

#gtmkit-event-inspector {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	max-height: 25%;
	overflow-y: scroll;
	background-color: var(--gtmkit-background-white);
	border-top: 2px solid var(--gtmkit-color-grey);

	&.restrict {
		display: none;
	}
}

#gtmkit-event-inspector-wrapper{
	text-align: center;
	display: flex;
	align-items: center;
	gap: 2rem;
	margin: 0 auto;
	width: max-content	;
	padding: 1rem;

}
#gtmkit-event-inspector-title {
	color: var(--gtmkit-color-primary);
	font-size: 1.125rem;
	font-weight: 600;

}

#gtmkit-event-inspector-list {
	display: flex;
	margin: 0;
	gap: 1rem;

	li {
		list-style: none;
		color: var(--gtmkit-text-color-grey);
		padding: 0.1rem 0;

		&:first-of-type {
			border-bottom: 2px solid var(--gtmkit-color-grey);
			font-weight: 500;
			color: var(--gtmkit-text-color-heading);
		}
	}
}
