includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 0
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
	paths:
		- inc/
		- gtm-kit.php
		- src/
		- uninstall.php
	ignoreErrors:
		- '#Function edd[a-zA-Z0-9\\_]+ not found.#'
		- '#Function EDD[a-zA-Z0-9\\_]* not found.#'
		- '#Class EDD[a-zA-Z0-9\\_]* not found.#'
		- '#Parameter \$[a-zA-Z0-9\\_]+ of method .* has invalid type EDD_[a-zA-Z0-9\\_]+\.#'
