<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertDeprecationsToExceptions="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnRisky="true"
    verbose="true"
    cacheResultFile="tests/_reports/.phpunit.result.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/phpunit/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/phpunit/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="tests/_reports/coverage"/>
            <clover outputFile="tests/_reports/clover.xml"/>
        </report>
    </coverage>
</phpunit>
