:root {
  --gtmkit-background-white: #fff;
  --gtmkit-background-grey: #f0f0f1;
  --gtmkit-border-color: #ddd;
  --gtmkit-text-color-heading: #454545;
  --gtmkit-text-color-grey: #777777;
  --gtmkit-color-primary: #3969bb;
  --gtmkit-color-secondary: #00a32a;
  --gtmkit-color-button: #3969bb;
  --gtmkit-color-success: #00a32a;
  --gtmkit-color-warning: orange;
  --gtmkit-color-error: red;
  --gtmkit-space-h: 2rem;
  --gtmkit-space-v: 1.5rem;
  --gtmkit-font-size-l: 18px;
  --gtmkit-font-size-m: 16px;
  --gtmkit-font-size-s: 14px;
  --gtmkit-font-size-xl: 22px;
  --gtmkit-font-size-xs: 12px;
  --gtmkit-font-size-xxl: 24px;
  --gtmkit-button-disabled: #bbb;
  --gtmkit-button-disabled-bg: #F5F5F5;
  --gtmkit-button-disabled-border: 1px solid #DDDDDD;
  --gtmkit-button-disabled-text: #bbb;
  --gtmkit-button-primary-bg: var(--gtmkit-color-primary);
  --gtmkit-button-primary-bg-hover: #397EEB;
  --gtmkit-button-primary-text: #fff;
  --gtmkit-button-primary-text-hover: #fff;
  --gtmkit-button-secondary-bg: #F8F8F8;
  --gtmkit-button-secondary-bg-hover: #fff;
  --gtmkit-button-secondary-border: #DDDDDD;
  --gtmkit-button-secondary-text: #777;
  --gtmkit-button-secondary-text-hover: #454545;
}

/*
! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/
html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role=button] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.gtmkit-absolute {
  position: absolute;
}

.gtmkit-relative {
  position: relative;
}

.gtmkit-sticky {
  position: sticky;
}

.gtmkit-inset-0 {
  inset: 0px;
}

.gtmkit-z-10 {
  z-index: 10;
}

.gtmkit-m-4 {
  margin: 1rem;
}

.gtmkit-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.gtmkit-my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gtmkit-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gtmkit-my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gtmkit-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.\!gtmkit-mt-4 {
  margin-top: 1rem !important;
}

.gtmkit-mb-12 {
  margin-bottom: 3rem;
}

.gtmkit-mb-14 {
  margin-bottom: 3.5rem;
}

.gtmkit-mb-2 {
  margin-bottom: 0.5rem;
}

.gtmkit-mb-20 {
  margin-bottom: 5rem;
}

.gtmkit-mb-4 {
  margin-bottom: 1rem;
}

.gtmkit-mb-5 {
  margin-bottom: 1.25rem;
}

.gtmkit-mb-6 {
  margin-bottom: 1.5rem;
}

.gtmkit-mb-8 {
  margin-bottom: 2rem;
}

.gtmkit-ml-2 {
  margin-left: 0.5rem;
}

.gtmkit-ml-4 {
  margin-left: 1rem;
}

.gtmkit-mr-8 {
  margin-right: 2rem;
}

.gtmkit-mt-12 {
  margin-top: 3rem;
}

.gtmkit-mt-16 {
  margin-top: 4rem;
}

.gtmkit-mt-3 {
  margin-top: 0.75rem;
}

.gtmkit-mt-4 {
  margin-top: 1rem;
}

.gtmkit-mt-6 {
  margin-top: 1.5rem;
}

.gtmkit-mt-8 {
  margin-top: 2rem;
}

.gtmkit-block {
  display: block;
}

.gtmkit-inline-block {
  display: inline-block;
}

.gtmkit-flex {
  display: flex;
}

.gtmkit-list-item {
  display: list-item;
}

.gtmkit-hidden {
  display: none;
}

.gtmkit-h-0 {
  height: 0px;
}

.gtmkit-h-0\.5 {
  height: 0.125rem;
}

.gtmkit-h-2 {
  height: 0.5rem;
}

.gtmkit-h-2\.5 {
  height: 0.625rem;
}

.gtmkit-h-5 {
  height: 1.25rem;
}

.gtmkit-h-8 {
  height: 2rem;
}

.gtmkit-min-h-\[175px\] {
  min-height: 175px;
}

.gtmkit-w-2 {
  width: 0.5rem;
}

.gtmkit-w-2\.5 {
  width: 0.625rem;
}

.gtmkit-w-3\/4 {
  width: 75%;
}

.gtmkit-w-5 {
  width: 1.25rem;
}

.gtmkit-w-8 {
  width: 2rem;
}

.gtmkit-w-\[225px\] {
  width: 225px;
}

.gtmkit-w-\[250px\] {
  width: 250px;
}

.gtmkit-w-full {
  width: 100%;
}

.gtmkit-max-w-3xl {
  max-width: 48rem;
}

.gtmkit-max-w-\[1536px\] {
  max-width: 1536px;
}

.gtmkit-max-w-\[90\%\] {
  max-width: 90%;
}

.gtmkit-max-w-lg {
  max-width: 32rem;
}

.gtmkit-max-w-max {
  max-width: -moz-max-content;
  max-width: max-content;
}

.gtmkit-max-w-md {
  max-width: 28rem;
}

.gtmkit-max-w-xl {
  max-width: 36rem;
}

.gtmkit-shrink-0 {
  flex-shrink: 0;
}

.gtmkit-table-fixed {
  table-layout: fixed;
}

.gtmkit-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gtmkit-items-center {
  align-items: center;
}

.gtmkit-justify-center {
  justify-content: center;
}

.gtmkit-justify-between {
  justify-content: space-between;
}

.gtmkit-gap-16 {
  gap: 4rem;
}

.gtmkit-gap-6 {
  gap: 1.5rem;
}

.gtmkit-space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * (1 - var(--tw-space-x-reverse)));
}

.gtmkit-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.gtmkit-whitespace-nowrap {
  white-space: nowrap;
}

.gtmkit-rounded {
  border-radius: 0.25rem;
}

.gtmkit-rounded-full {
  border-radius: 9999px;
}

.gtmkit-rounded-md {
  border-radius: 0.375rem;
}

.gtmkit-border {
  border-width: 1px;
}

.gtmkit-border-2 {
  border-width: 2px;
}

.gtmkit-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.gtmkit-border-b {
  border-bottom-width: 1px;
}

.gtmkit-border-b-2 {
  border-bottom-width: 2px;
}

.gtmkit-border-b-4 {
  border-bottom-width: 4px;
}

.gtmkit-border-t-4 {
  border-top-width: 4px;
}

.gtmkit-border-color-border {
  border-color: var(--gtmkit-border-color);
}

.gtmkit-border-color-grey {
  border-color: var(--gtmkit-text-color-grey);
}

.gtmkit-border-color-primary {
  border-color: var(--gtmkit-color-primary);
}

.gtmkit-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255/var(--tw-border-opacity));
}

.gtmkit-border-b-color-primary {
  border-bottom-color: var(--gtmkit-color-primary);
}

.gtmkit-bg-color-border {
  background-color: var(--gtmkit-border-color);
}

.gtmkit-bg-color-button-disabled {
  background-color: var(--gtmkit-button-disabled);
}

.gtmkit-bg-color-primary {
  background-color: var(--gtmkit-color-primary);
}

.gtmkit-bg-color-success {
  background-color: var(--gtmkit-color-success);
}

.gtmkit-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.gtmkit-p-3 {
  padding: 0.75rem;
}

.gtmkit-p-6 {
  padding: 1.5rem;
}

.gtmkit-p-8 {
  padding: 2rem;
}

.\!gtmkit-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.\!gtmkit-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.\!gtmkit-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.\!gtmkit-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.gtmkit-px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.gtmkit-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.gtmkit-px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.gtmkit-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.gtmkit-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gtmkit-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.gtmkit-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gtmkit-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gtmkit-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.gtmkit-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gtmkit-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.gtmkit-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.gtmkit-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gtmkit-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.gtmkit-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gtmkit-pb-6 {
  padding-bottom: 1.5rem;
}

.gtmkit-pb-\[18px\] {
  padding-bottom: 18px;
}

.gtmkit-pt-5 {
  padding-top: 1.25rem;
}

.gtmkit-text-left {
  text-align: left;
}

.gtmkit-text-center {
  text-align: center;
}

.gtmkit-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.gtmkit-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.gtmkit-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.gtmkit-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.gtmkit-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.gtmkit-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.gtmkit-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.gtmkit-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.gtmkit-font-bold {
  font-weight: 700;
}

.gtmkit-font-light {
  font-weight: 300;
}

.gtmkit-font-medium {
  font-weight: 500;
}

.gtmkit-font-semibold {
  font-weight: 600;
}

.gtmkit-uppercase {
  text-transform: uppercase;
}

.gtmkit-leading-5 {
  line-height: 1.25rem;
}

.gtmkit-text-color-grey {
  color: var(--gtmkit-text-color-grey);
}

.gtmkit-text-color-heading {
  color: var(--gtmkit-text-color-heading);
}

.gtmkit-text-color-primary {
  color: var(--gtmkit-color-primary);
}

.gtmkit-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38/var(--tw-text-opacity));
}

.gtmkit-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.gtmkit-underline {
  text-decoration-line: underline;
}

.gtmkit-opacity-100 {
  opacity: 1;
}

.gtmkit-outline-0 {
  outline-width: 0px;
}

.gtmkit-drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.gtmkit-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.gtmkit-duration-500 {
  transition-duration: 500ms;
}

.hover\:gtmkit-border-color-grey:hover {
  border-color: var(--gtmkit-text-color-grey);
}

.hover\:gtmkit-underline:hover {
  text-decoration-line: underline;
}

.disabled\:\!gtmkit-bg-color-button-disabled:disabled {
  background-color: var(--gtmkit-button-disabled) !important;
}

.disabled\:\!gtmkit-text-color-grey:disabled {
  color: var(--gtmkit-text-color-grey) !important;
}

.gtmkit-group:hover .group-hover\:gtmkit-block {
  display: block;
}

.gtmkit-group:hover .group-hover\:gtmkit-hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:gtmkit-mt-10 {
    margin-top: 2.5rem;
  }
  .md\:gtmkit-mt-12 {
    margin-top: 3rem;
  }
  .md\:gtmkit-mt-16 {
    margin-top: 4rem;
  }
  .md\:gtmkit-mt-8 {
    margin-top: 2rem;
  }
  .md\:gtmkit-grid {
    display: grid;
  }
  .md\:gtmkit-max-w-xl {
    max-width: 36rem;
  }
}
@media (min-width: 1024px) {
  .lg\:gtmkit-flex {
    display: flex;
  }
  .lg\:gtmkit-grid {
    display: grid;
  }
  .lg\:gtmkit-w-1\/2 {
    width: 50%;
  }
  .lg\:gtmkit-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:gtmkit-justify-between {
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .xl\:gtmkit-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {
  .\32 xl\:gtmkit-w-1\/3 {
    width: 33.333333%;
  }
}
.gtmkit-admin-page #wpcontent {
  padding-left: 0 !important;
}
.gtmkit-admin-page #wpcontent *,
.gtmkit-admin-page #wpcontent *::before,
.gtmkit-admin-page #wpcontent *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gtmkit_header {
  padding: 24px var(--gtmkit-space-h);
}
.gtmkit_header h1#gtmkit-title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}
.gtmkit_header h1#gtmkit-title img {
  margin-right: 1em;
}

.gtmkit-header-navigation {
  align-items: center;
  background: var(--gtmkit-background-white);
  border-color: var(--gtmkit-border-color);
  border-style: solid;
  border-width: 1px 0;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 var(--gtmkit-space-h);
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper li {
  margin-bottom: 0;
  margin-right: 2rem;
  outline: 0 !important;
  border-top: none;
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a {
  border-bottom: 4px solid var(--gtmkit-background-white);
  color: var(--gtmkit-text-color-grey);
  display: block;
  font-weight: 600;
  padding: 20px 0 18px 0;
  text-decoration: none;
  transition: border 300ms ease;
  box-shadow: none;
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a.active, .gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a.active:focus, .gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a.active:focus:active {
  border-color: var(--gtmkit-color-primary);
  color: var(--gtmkit-text-color-heading);
  border-top: none;
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a.active:hover, .gtmkit-header-navigation .gtmkit-nav-tab-wrapper li a:hover {
  border-color: var(--gtmkit-text-color-grey);
}
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper .nav-tab-active,
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper .nav-tab-active:focus,
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper .nav-tab-active:focus:active,
.gtmkit-header-navigation .gtmkit-nav-tab-wrapper .nav-tab-active:hover {
  border-color: var(--gtmkit-color-primary);
  color: var(--gtmkit-text-color-heading);
}

.gtmkit-tab {
  padding: 24px var(--gtmkit-space-h);
  display: none;
  max-width: 1920px;
}
.gtmkit-tab.active {
  display: block;
}
.gtmkit-tab label.select,
.gtmkit-tab label.textinput {
  float: left;
  width: 200px;
  margin: 5px 0;
}
.gtmkit-tab input.textinput, .gtmkit-tab select, .gtmkit-tab textarea {
  width: 400px;
}
.gtmkit-tab .description {
  margin: 5px;
}
.gtmkit-tab .success {
  color: var(--gtmkit-color-success);
}
.gtmkit-tab .error {
  color: var(--gtmkit-color-error);
}
.gtmkit-tab input[type=radio] {
  margin-bottom: -4px;
}
.gtmkit-tab .form-table {
  margin-top: 20px;
}
.gtmkit-tab .form-table th,
.gtmkit-tab .form-table td {
  padding-top: 16px;
  padding-bottom: 16px;
}
.gtmkit-tab .form-table td fieldset label {
  font-size: 13px;
}
.gtmkit-tab .form-table td fieldset label.radio {
  line-height: 1;
}
.gtmkit-tab .gtmkit-form-legend {
  font-size: 14px;
  font-weight: 600;
}

.gtmkit-metabox {
  background: var(--gtmkit-background-white);
  border: 1px solid var(--gtmkit-border-color);
  border-radius: 4px;
}

.gtmkit-items-list {
  padding: calc(var(--gtmkit-space-v) / 2) 12px 0;
  width: 100%;
}
.gtmkit-items-list ul {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0;
}
.gtmkit-items-list.single-item {
  padding-left: 0;
}
.gtmkit-items-list.single-item ul {
  justify-content: space-between;
}
.gtmkit-items-list.single-item .gtmkit-list-item {
  margin-left: 0;
  margin-right: 0;
}

.gtmkit-list-item {
  background: var(--gtmkit-background-white);
  border: 1px solid var(--gtmkit-border-color);
  border-radius: 4px;
  margin-bottom: 24px;
  margin-right: 12px;
  margin-left: 12px;
  max-width: 100%;
  padding: 16px 20px;
  position: relative;
  width: 100%;
}
.gtmkit-list-item.disabled {
  opacity: 0.5;
}
.gtmkit-list-item h3 {
  font-size: var(--gtmkit-font-size-m);
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gtmkit-list-item p {
  margin-bottom: 0;
}
.gtmkit-list-item .gtmkit-list-item-pill {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 40px;
}
.gtmkit-list-item .gtmkit-list-item-pill.gtmkit-list-item-pill-green {
  background: var(--gtmkit-color-success);
  color: #fff;
}
.gtmkit-list-item .gtmkit-list-item-pill.gtmkit-list-item-pill-orange {
  background: var(--gtmkit-color-warning);
  color: #fff;
}
.gtmkit-list-item .gtmkit-list-item-pill.gtmkit-list-item-pill-red {
  background: var(--gtmkit-color-error);
  color: #fff;
}
.gtmkit-list-item .gtmkit-list-item-pill.gtmkit-list-item-pill-grey {
  background: var(--gtmkit-button-disabled);
  color: #fff;
}
.gtmkit-list-item.gtmkit-list-item-has-pill h3 {
  max-width: calc(100% - 60px);
}

@media (min-width: 1024px) {
  .gtmkit-list-item {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1440px) {
  .gtmkit-list-item {
    width: calc(33.3333333333% - 24px);
  }
}
.gtmkit-list-item-actions {
  position: relative;
  min-height: 40px;
}

.gtmkit-list-item:hover .gtmkit-list-item-description, .gtmkit-list-item:focus .gtmkit-list-item-description {
  opacity: 0;
}

.gtmkit-list-item:hover .gtmkit-list-item-buttons, .gtmkit-list-item:focus .gtmkit-list-item-buttons {
  opacity: 1;
}

.gtmkit-list-item-buttons {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.gtmkit-list-item-buttons .gtmkit-button {
  flex-grow: 1;
  margin-left: 10px;
  text-align: center;
  background-color: var(--gtmkit-button-primary-bg);
  border: 1px solid var(--gtmkit-button-primary-bg);
  border-radius: 4px;
  color: var(--gtmkit-button-primary-text);
  cursor: pointer;
  display: inline-block;
  font-size: var(--gtmkit-font-size-s);
  font-weight: 700;
  line-height: 1;
  padding: 10px 16px;
  text-decoration: none;
}
.gtmkit-list-item-buttons .gtmkit-button.gtmkit-button-secondary {
  background-color: var(--gtmkit-button-secondary-bg);
  border: 1px solid var(--gtmkit-button-secondary-border);
  color: var(--gtmkit-button-secondary-text);
}
.gtmkit-list-item-buttons .gtmkit-button.gtmkit-button-secondary:hover, .gtmkit-list-item-buttons .gtmkit-button.gtmkit-button-secondary:focus {
  background-color: var(--gtmkit-button-secondary-bg-hover);
  border-color: var(--gtmkit-button-secondary-border);
  color: var(--gtmkit-button-secondary-text-hover);
}
.gtmkit-list-item-buttons .gtmkit-button:first-child {
  margin-left: 0;
}
.gtmkit-list-item-buttons .gtmkit-button:hover, .gtmkit-list-item-buttons .gtmkit-button:focus {
  background-color: var(--gtmkit-button-primary-bg-hover);
  border-color: var(--gtmkit-button-primary-bg-hover);
  color: var(--gtmkit-button-primary-text-hover);
}

#gtmkit-submit-container {
  padding: 24px var(--gtmkit-space-h);
}

#sidebar-container {
  width: 300px;
  padding-left: 20px;
  padding-top: 10px;
}
#sidebar-container h3 {
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}
#sidebar-container ul {
  margin: 1em;
}
#sidebar-container a {
  text-decoration: none;
}
#sidebar-container .inside {
  background: var(--gtmkit-background-white);
  border-left: 0;
  border-right: 0;
}
#sidebar-container #credit {
  text-align: center;
  font-size: 10px;
  color: #888;
  line-height: 3em;
  margin: 3em 0;
  min-width: 255px;
}

.gtmkit-clear:before {
  content: " ";
  display: table;
}
.gtmkit-clear:after {
  clear: both;
  content: " ";
  display: table;
}

.gtmkit-setting-row {
  border-bottom: 1px solid #e4e4e4;
  padding: 30px 0;
  font-size: 14px;
  line-height: 1.3;
}
.gtmkit-setting-row:first-of-type {
  padding-top: 10px !important;
}
.gtmkit-setting-row.inactive {
  display: none;
}
.gtmkit-setting-row .gtmkit-setting-mid-row-sep {
  background: #e4e4e4;
  height: 1px;
  border: 0;
  margin: 15px 0;
}
.gtmkit-setting-row.section-heading {
  padding: 20px 0;
}
.gtmkit-setting-row.section-heading.no-desc h2,
.gtmkit-setting-row.section-heading.no-desc h4 {
  margin: 0;
}
.gtmkit-setting-row.section-heading .gtmkit-setting-field {
  margin: 0;
  max-width: 1005px;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox input[type=checkbox] {
  float: left;
  margin: 1px 0 0 0;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox input[type=checkbox] + label {
  margin: 0 0 0 8px;
  vertical-align: baseline;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox .desc {
  margin: 0 0 0 30px;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox input[type=checkbox] + label + .desc {
  margin: 8px 0 0 0;
}
.gtmkit-setting-row.gtmkit-setting-row-text .gtmkit-setting-label, .gtmkit-setting-row.gtmkit-setting-row-password .gtmkit-setting-label, .gtmkit-setting-row.gtmkit-setting-row-number .gtmkit-setting-label, .gtmkit-setting-row.gtmkit-setting-row-email .gtmkit-setting-label {
  padding-top: 8px;
}
.gtmkit-setting-row.gtmkit-setting-row-select .gtmkit-setting-label {
  padding-top: 8px;
}
.gtmkit-setting-row.gtmkit-setting-row-radio .gtmkit-setting-field input[type=radio] {
  margin: -3px 10px 0 0;
}
.gtmkit-setting-row.gtmkit-setting-row-radio .gtmkit-setting-field label {
  margin-right: 30px;
  display: inline-block;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field label {
  vertical-align: middle;
  display: inline-block;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox] {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked + .gtmkit-setting-toggle-switch {
  background-color: #00a32a;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked + .gtmkit-setting-toggle-switch:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled:checked:hover + .gtmkit-setting-toggle-switch, .gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled:not(:checked):hover + .gtmkit-setting-toggle-switch {
  box-shadow: none;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled:not(:checked):hover + .gtmkit-setting-toggle-switch {
  background-color: #ddd;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled + .gtmkit-setting-toggle-switch {
  background-color: #ddd;
  cursor: default;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled:checked + .gtmkit-setting-toggle-switch {
  background-color: #24ff5c;
  cursor: default;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label {
  display: inline-block;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label + .gtmkit-setting-toggle-unchecked-label {
  display: none;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label, .gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:disabled + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-unchecked-label {
  color: #aaaaaa;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked:hover + .gtmkit-setting-toggle-switch, .gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:checked:focus + .gtmkit-setting-toggle-switch {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00a32a;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:not(:checked):hover + .gtmkit-setting-toggle-switch, .gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field input[type=checkbox]:not(:checked):focus + .gtmkit-setting-toggle-switch {
  background-color: #999;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #999;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field .gtmkit-setting-toggle-unchecked-label,
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field .gtmkit-setting-toggle-checked-label {
  text-transform: uppercase;
  font-weight: 400;
  color: #777;
  font-size: 13px;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field .gtmkit-setting-toggle-checked-label {
  display: none;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field .gtmkit-setting-toggle-switch {
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px 0 0;
  width: 36px;
  height: 20px;
}
.gtmkit-setting-row.gtmkit-setting-row-checkbox-toggle .gtmkit-setting-field .gtmkit-setting-toggle-switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.gtmkit-setting-row h2, .gtmkit-setting-row h4 {
  color: #444;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 6px 0;
}
.gtmkit-setting-row h2 {
  margin-bottom: 15px;
}
.gtmkit-setting-row h3 {
  color: #444;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.gtmkit-setting-row h5 {
  color: #444;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.gtmkit-setting-row p {
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 1.5em;
}
.gtmkit-setting-row p:first-of-type {
  margin: 8px 0 0;
}
.gtmkit-setting-row p.desc {
  font-style: italic;
  color: #777;
}
.gtmkit-setting-row p.buttonned {
  margin-top: 30px;
}
.gtmkit-setting-row ul {
  margin: 8px 0 0;
}
.gtmkit-setting-row ul.list li {
  margin-left: 20px;
  list-style-type: disc;
}
.gtmkit-setting-row table.actions-list td, .gtmkit-setting-row table.actions-list th {
  padding: 5px 5px 5px 0;
  text-align: left;
}
.gtmkit-setting-row table.actions-list td.email {
  padding-right: 2em;
}
.gtmkit-setting-row table.actions-list td.status {
  width: 100px;
}
.gtmkit-setting-row table.actions-list td.actions a {
  border-bottom: 1px solid;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
.gtmkit-setting-row table.actions-list td.actions a[class*=delete], .gtmkit-setting-row table.actions-list td.actions a[class*=error] {
  color: #a00;
}
.gtmkit-setting-row table.actions-list td.actions a[class*=delete]:hover, .gtmkit-setting-row table.actions-list td.actions a[class*=delete]:active, .gtmkit-setting-row table.actions-list td.actions a[class*=delete]:focus, .gtmkit-setting-row table.actions-list td.actions a[class*=error]:hover, .gtmkit-setting-row table.actions-list td.actions a[class*=error]:active, .gtmkit-setting-row table.actions-list td.actions a[class*=error]:focus {
  color: #440000;
}
.gtmkit-setting-row input[type=text],
.gtmkit-setting-row input[type=email],
.gtmkit-setting-row input[type=number],
.gtmkit-setting-row input[type=password],
.gtmkit-setting-row select {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 400px;
  min-height: 35px;
  line-height: 1.3;
}
.gtmkit-setting-row input[type=text][readonly],
.gtmkit-setting-row input[type=email][readonly],
.gtmkit-setting-row input[type=number][readonly],
.gtmkit-setting-row input[type=password][readonly],
.gtmkit-setting-row select[readonly] {
  background-color: #f9f9f9;
}
.gtmkit-setting-row input[type=text].small-text,
.gtmkit-setting-row input[type=email].small-text,
.gtmkit-setting-row input[type=number].small-text,
.gtmkit-setting-row input[type=password].small-text,
.gtmkit-setting-row select.small-text {
  width: 75px;
}
.gtmkit-setting-row input[type=text]:focus,
.gtmkit-setting-row input[type=email]:focus,
.gtmkit-setting-row input[type=number]:focus,
.gtmkit-setting-row input[type=password]:focus,
.gtmkit-setting-row select:focus {
  border: 1px solid #016AAB;
  box-shadow: 0 0 0 1px #016AAB;
  outline: none;
}
.gtmkit-setting-row input[type=text]:disabled,
.gtmkit-setting-row input[type=email]:disabled,
.gtmkit-setting-row input[type=number]:disabled,
.gtmkit-setting-row input[type=password]:disabled,
.gtmkit-setting-row select:disabled {
  opacity: 0.6;
}
.gtmkit-setting-row input[type=checkbox]:focus,
.gtmkit-setting-row input[type=radio]:focus {
  border: 1px solid #016AAB;
  box-shadow: 0 0 0 1px #016AAB;
  outline: none;
}
.gtmkit-setting-row .gtmkit-dashicons-yes-alt-green.gtmkit-animate {
  -webkit-animation: gtmkit-fade-in-stop-out 1s linear;
  animation: gtmkit-fade-in-stop-out 1s linear;
}
.gtmkit-setting-row .gtmkit-dashicons-yes-alt-green.gtmkit-success {
  color: #00a32a;
}

.gtmkit-setting-label {
  display: block;
  float: left;
  width: 225px;
  padding: 0 20px 0 0;
}
.gtmkit-setting-label label {
  display: block;
  font-weight: 600;
}

.gtmkit-setting-field {
  display: block;
  margin: 0 0 0 225px;
  max-width: 800px;
}
.gtmkit-setting-field hr {
  margin: 20px 0;
}
.gtmkit-setting-field .gtmkit-setting-field-row {
  display: flex;
  flex-wrap: wrap;
}
.gtmkit-setting-field .gtmkit-setting-field-row > .gtmkit-btn {
  margin-right: 10px;
}

.gtmkit_radio_block {
  line-height: 20px;
}

[class^=gtmkit-dashicons] {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.gtmkit-dashicons-yes-alt-green {
  background-image: url("../images/icons/dashicons/dashicons-yes-alt-green.svg");
}

.gtmkit-dashicons-pdf-gray {
  background-image: url("../images/icons/dashicons/dashicons-pdf-grey.svg");
}

code {
  font-style: normal;
}

.gtmkit_section_message {
  width: 75%;
}
.gtmkit_section_message.space-top {
  margin-top: 100px;
}
.gtmkit_section_message.warning {
  margin-top: 10px;
  width: fit-content;
}
.gtmkit_section_message h3 {
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}
.gtmkit_section_message h3 .version {
  color: #777;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 400;
}
.gtmkit_section_message .inside {
  margin: 1em;
}
.gtmkit_section_message ul li {
  margin-bottom: 12px;
}

/*# sourceMappingURL=admin.css.map */
