*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.gtmkit-container {
  width: 100%;
}

@media (min-width: 640px) {
  .gtmkit-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .gtmkit-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .gtmkit-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .gtmkit-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .gtmkit-container {
    max-width: 1536px;
  }
}

.gtmkit-pointer-events-none {
  pointer-events: none;
}

.gtmkit-pointer-events-auto {
  pointer-events: auto;
}

.gtmkit-fixed {
  position: fixed;
}

.gtmkit-absolute {
  position: absolute;
}

.gtmkit-relative {
  position: relative;
}

.gtmkit-sticky {
  position: sticky;
}

.gtmkit-inset-0 {
  inset: 0px;
}

.gtmkit-bottom-0 {
  bottom: 0px;
}

.gtmkit-bottom-8 {
  bottom: 2rem;
}

.gtmkit-left-0\.5 {
  left: 0.125rem;
}

.gtmkit-right-0 {
  right: 0px;
}

.gtmkit-right-4 {
  right: 1rem;
}

.gtmkit-right-8 {
  right: 2rem;
}

.gtmkit-top-0\.5 {
  top: 0.125rem;
}

.gtmkit-top-4 {
  top: 1rem;
}

.gtmkit-top-8 {
  top: 2rem;
}

.gtmkit-z-10 {
  z-index: 10;
}

.gtmkit-z-50 {
  z-index: 50;
}

.gtmkit-m-0 {
  margin: 0px;
}

.gtmkit-m-4 {
  margin: 1rem;
}

.gtmkit-m-5 {
  margin: 1.25rem;
}

.gtmkit-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.gtmkit-my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gtmkit-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.gtmkit-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gtmkit-my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gtmkit-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gtmkit-mb-0 {
  margin-bottom: 0px;
}

.gtmkit-mb-1 {
  margin-bottom: 0.25rem;
}

.gtmkit-mb-12 {
  margin-bottom: 3rem;
}

.gtmkit-mb-14 {
  margin-bottom: 3.5rem;
}

.gtmkit-mb-2 {
  margin-bottom: 0.5rem;
}

.gtmkit-mb-3 {
  margin-bottom: 0.75rem;
}

.gtmkit-mb-4 {
  margin-bottom: 1rem;
}

.gtmkit-mb-5 {
  margin-bottom: 1.25rem;
}

.gtmkit-mb-6 {
  margin-bottom: 1.5rem;
}

.gtmkit-mb-7 {
  margin-bottom: 1.75rem;
}

.gtmkit-mb-8 {
  margin-bottom: 2rem;
}

.gtmkit-ml-2 {
  margin-left: 0.5rem;
}

.gtmkit-ml-3 {
  margin-left: 0.75rem;
}

.gtmkit-ml-6 {
  margin-left: 1.5rem;
}

.gtmkit-ml-auto {
  margin-left: auto;
}

.gtmkit-mr-1 {
  margin-right: 0.25rem;
}

.gtmkit-mt-0\.5 {
  margin-top: 0.125rem;
}

.gtmkit-mt-1 {
  margin-top: 0.25rem;
}

.gtmkit-mt-12 {
  margin-top: 3rem;
}

.gtmkit-mt-2 {
  margin-top: 0.5rem;
}

.gtmkit-mt-3 {
  margin-top: 0.75rem;
}

.gtmkit-mt-4 {
  margin-top: 1rem;
}

.gtmkit-mt-6 {
  margin-top: 1.5rem;
}

.gtmkit-mt-8 {
  margin-top: 2rem;
}

.gtmkit-mt-\[5px\] {
  margin-top: 5px;
}

.gtmkit-mt-auto {
  margin-top: auto;
}

.gtmkit-block {
  display: block;
}

.gtmkit-inline-block {
  display: inline-block;
}

.gtmkit-flex {
  display: flex;
}

.gtmkit-inline-flex {
  display: inline-flex;
}

.gtmkit-grid {
  display: grid;
}

.gtmkit-hidden {
  display: none;
}

.gtmkit-h-0\.5 {
  height: 0.125rem;
}

.gtmkit-h-16 {
  height: 4rem;
}

.gtmkit-h-2 {
  height: 0.5rem;
}

.gtmkit-h-2\.5 {
  height: 0.625rem;
}

.gtmkit-h-4 {
  height: 1rem;
}

.gtmkit-h-5 {
  height: 1.25rem;
}

.gtmkit-h-8 {
  height: 2rem;
}

.gtmkit-h-9 {
  height: 2.25rem;
}

.gtmkit-h-\[10px\] {
  height: 10px;
}

.gtmkit-h-\[34px\] {
  height: 34px;
}

.gtmkit-h-\[36px\] {
  height: 36px;
}

.gtmkit-h-auto {
  height: auto;
}

.gtmkit-h-px {
  height: 1px;
}

.gtmkit-max-h-40 {
  max-height: 10rem;
}

.gtmkit-max-h-60 {
  max-height: 15rem;
}

.gtmkit-max-h-96 {
  max-height: 24rem;
}

.gtmkit-min-h-5 {
  min-height: 1.25rem;
}

.gtmkit-min-h-\[128px\] {
  min-height: 128px;
}

.gtmkit-min-h-screen {
  min-height: 100vh;
}

.gtmkit-w-2 {
  width: 0.5rem;
}

.gtmkit-w-2\.5 {
  width: 0.625rem;
}

.gtmkit-w-4 {
  width: 1rem;
}

.gtmkit-w-5 {
  width: 1.25rem;
}

.gtmkit-w-8 {
  width: 2rem;
}

.gtmkit-w-9 {
  width: 2.25rem;
}

.gtmkit-w-\[10px\] {
  width: 10px;
}

.gtmkit-w-\[110px\] {
  width: 110px;
}

.gtmkit-w-\[120px\] {
  width: 120px;
}

.gtmkit-w-\[150px\] {
  width: 150px;
}

.gtmkit-w-\[180px\] {
  width: 180px;
}

.gtmkit-w-\[200px\] {
  width: 200px;
}

.gtmkit-w-\[248px\] {
  width: 248px;
}

.gtmkit-w-\[250px\] {
  width: 250px;
}

.gtmkit-w-\[260px\] {
  width: 260px;
}

.gtmkit-w-\[300px\] {
  width: 300px;
}

.gtmkit-w-\[320px\] {
  width: 320px;
}

.gtmkit-w-\[340px\] {
  width: 340px;
}

.gtmkit-w-\[360px\] {
  width: 360px;
}

.gtmkit-w-\[600px\] {
  width: 600px;
}

.gtmkit-w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.gtmkit-w-full {
  width: 100%;
}

.gtmkit-w-px {
  width: 1px;
}

.gtmkit-min-w-0 {
  min-width: 0px;
}

.gtmkit-min-w-\[300px\] {
  min-width: 300px;
}

.gtmkit-min-w-\[600px\] {
  min-width: 600px;
}

.gtmkit-max-w-3xl {
  max-width: 48rem;
}

.gtmkit-max-w-4xl {
  max-width: 56rem;
}

.gtmkit-max-w-\[90\%\] {
  max-width: 90%;
}

.gtmkit-max-w-\[90vw\] {
  max-width: 90vw;
}

.gtmkit-max-w-full {
  max-width: 100%;
}

.gtmkit-max-w-lg {
  max-width: 32rem;
}

.gtmkit-max-w-max {
  max-width: -moz-max-content;
  max-width: max-content;
}

.gtmkit-max-w-md {
  max-width: 28rem;
}

.gtmkit-max-w-screen-lg {
  max-width: 1024px;
}

.gtmkit-max-w-xl {
  max-width: 36rem;
}

.gtmkit-flex-1 {
  flex: 1 1 0%;
}

.gtmkit-flex-auto {
  flex: 1 1 auto;
}

.gtmkit-flex-shrink-0 {
  flex-shrink: 0;
}

.gtmkit-shrink-0 {
  flex-shrink: 0;
}

.gtmkit-flex-grow {
  flex-grow: 1;
}

.gtmkit-table-fixed {
  table-layout: fixed;
}

.gtmkit-translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.gtmkit-translate-x-4 {
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes gtmkit-pulse {
  50% {
    opacity: .5;
  }
}

.gtmkit-animate-pulse {
  animation: gtmkit-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.gtmkit-cursor-default {
  cursor: default;
}

.gtmkit-cursor-not-allowed {
  cursor: not-allowed;
}

.gtmkit-cursor-pointer {
  cursor: pointer;
}

.gtmkit-list-inside {
  list-style-position: inside;
}

.gtmkit-list-disc {
  list-style-type: disc;
}

.gtmkit-list-none {
  list-style-type: none;
}

.gtmkit-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gtmkit-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gtmkit-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gtmkit-grid-cols-\[1fr_140px_auto\] {
  grid-template-columns: 1fr 140px auto;
}

.gtmkit-flex-col {
  flex-direction: column;
}

.gtmkit-flex-wrap {
  flex-wrap: wrap;
}

.gtmkit-items-start {
  align-items: flex-start;
}

.gtmkit-items-center {
  align-items: center;
}

.gtmkit-items-stretch {
  align-items: stretch;
}

.gtmkit-justify-center {
  justify-content: center;
}

.gtmkit-justify-between {
  justify-content: space-between;
}

.gtmkit-gap-0\.5 {
  gap: 0.125rem;
}

.gtmkit-gap-1 {
  gap: 0.25rem;
}

.gtmkit-gap-1\.5 {
  gap: 0.375rem;
}

.gtmkit-gap-16 {
  gap: 4rem;
}

.gtmkit-gap-2 {
  gap: 0.5rem;
}

.gtmkit-gap-2\.5 {
  gap: 0.625rem;
}

.gtmkit-gap-3 {
  gap: 0.75rem;
}

.gtmkit-gap-3\.5 {
  gap: 0.875rem;
}

.gtmkit-gap-4 {
  gap: 1rem;
}

.gtmkit-gap-5 {
  gap: 1.25rem;
}

.gtmkit-gap-6 {
  gap: 1.5rem;
}

.gtmkit-gap-\[14px\] {
  gap: 14px;
}

.gtmkit-gap-\[5px\] {
  gap: 5px;
}

.gtmkit-gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gtmkit-gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gtmkit-gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gtmkit-gap-y-1 {
  row-gap: 0.25rem;
}

.gtmkit-gap-y-3 {
  row-gap: 0.75rem;
}

.gtmkit-space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.gtmkit-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-2\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-3\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.875rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.875rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.gtmkit-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.gtmkit-self-start {
  align-self: flex-start;
}

.gtmkit-overflow-auto {
  overflow: auto;
}

.gtmkit-overflow-hidden {
  overflow: hidden;
}

.gtmkit-overflow-x-auto {
  overflow-x: auto;
}

.gtmkit-whitespace-nowrap {
  white-space: nowrap;
}

.gtmkit-whitespace-pre-wrap {
  white-space: pre-wrap;
}

.gtmkit-break-all {
  word-break: break-all;
}

.gtmkit-rounded {
  border-radius: 0.25rem;
}

.gtmkit-rounded-\[10px\] {
  border-radius: 10px;
}

.gtmkit-rounded-\[6px\] {
  border-radius: 6px;
}

.gtmkit-rounded-\[9px\] {
  border-radius: 9px;
}

.gtmkit-rounded-full {
  border-radius: 9999px;
}

.gtmkit-rounded-lg {
  border-radius: 0.5rem;
}

.gtmkit-rounded-md {
  border-radius: var(--gtmkit-radius-md, 8px);
}

.gtmkit-rounded-sm {
  border-radius: var(--gtmkit-radius-sm, 4px);
}

.gtmkit-rounded-xl {
  border-radius: 0.75rem;
}

.gtmkit-border {
  border-width: 1px;
}

.gtmkit-border-0 {
  border-width: 0px;
}

.gtmkit-border-2 {
  border-width: 2px;
}

.gtmkit-border-b {
  border-bottom-width: 1px;
}

.gtmkit-border-b-2 {
  border-bottom-width: 2px;
}

.gtmkit-border-l-\[3px\] {
  border-left-width: 3px;
}

.gtmkit-border-r {
  border-right-width: 1px;
}

.gtmkit-border-t {
  border-top-width: 1px;
}

.gtmkit-border-t-4 {
  border-top-width: 4px;
}

.gtmkit-border-\[\#cfe0fb\] {
  --tw-border-opacity: 1;
  border-color: rgb(207 224 251 / var(--tw-border-opacity, 1));
}

.gtmkit-border-blue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity, 1));
}

.gtmkit-border-border-default {
  border-color: var(--gtmkit-color-border-default);
}

.gtmkit-border-brand-primary {
  border-color: var(--gtmkit-color-brand-primary);
}

.gtmkit-border-color-border {
  border-color: var(--gtmkit-border-color);
}

.gtmkit-border-color-grey {
  border-color: var(--gtmkit-color-grey);
}

.gtmkit-border-color-primary {
  border-color: var(--gtmkit-color-primary);
}

.gtmkit-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.gtmkit-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.gtmkit-border-green-200 {
  --tw-border-opacity: 1;
  border-color: rgb(187 247 208 / var(--tw-border-opacity, 1));
}

.gtmkit-border-red-200 {
  --tw-border-opacity: 1;
  border-color: rgb(254 202 202 / var(--tw-border-opacity, 1));
}

.gtmkit-border-tier-premium {
  border-color: var(--gtmkit-color-tier-premium);
}

.gtmkit-border-transparent {
  border-color: transparent;
}

.gtmkit-border-yellow-200 {
  --tw-border-opacity: 1;
  border-color: rgb(254 240 138 / var(--tw-border-opacity, 1));
}

.gtmkit-bg-\[\#1d2327\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 35 39 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#c3c4c7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(195 196 199 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#d63638\] {
  --tw-bg-opacity: 1;
  background-color: rgb(214 54 56 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#dba617\] {
  --tw-bg-opacity: 1;
  background-color: rgb(219 166 23 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#ececed\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 236 237 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#eff6ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#f0f0f1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 241 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#fafafa\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-\[\#fcf3d6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 243 214 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-border-default {
  background-color: var(--gtmkit-color-border-default);
}

.gtmkit-bg-brand-primary {
  background-color: var(--gtmkit-color-brand-primary);
}

.gtmkit-bg-brand-surface-subtle {
  background-color: var(--gtmkit-color-brand-surface-subtle);
}

.gtmkit-bg-chip-bg {
  background-color: var(--gtmkit-color-chip-bg);
}

.gtmkit-bg-color-border {
  background-color: var(--gtmkit-border-color);
}

.gtmkit-bg-color-primary {
  background-color: var(--gtmkit-color-primary);
}

.gtmkit-bg-color-success {
  background-color: var(--gtmkit-color-success);
}

.gtmkit-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-green-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-integration-woo-bg {
  background-color: var(--gtmkit-color-integration-woo-bg);
}

.gtmkit-bg-page {
  background-color: var(--gtmkit-color-bg-page);
}

.gtmkit-bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-surface {
  background-color: var(--gtmkit-color-bg-surface);
}

.gtmkit-bg-tier-premium {
  background-color: var(--gtmkit-color-tier-premium);
}

.gtmkit-bg-tier-premium-bg {
  background-color: var(--gtmkit-color-tier-premium-bg);
}

.gtmkit-bg-transparent {
  background-color: transparent;
}

.gtmkit-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.gtmkit-bg-yellow-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 252 232 / var(--tw-bg-opacity, 1));
}

.gtmkit-p-0 {
  padding: 0px;
}

.gtmkit-p-1 {
  padding: 0.25rem;
}

.gtmkit-p-2 {
  padding: 0.5rem;
}

.gtmkit-p-3 {
  padding: 0.75rem;
}

.gtmkit-p-4 {
  padding: 1rem;
}

.gtmkit-p-5 {
  padding: 1.25rem;
}

.gtmkit-p-6 {
  padding: 1.5rem;
}

.gtmkit-p-8 {
  padding: 2rem;
}

.\!gtmkit-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.\!gtmkit-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.\!gtmkit-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.\!gtmkit-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.\!gtmkit-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.\!gtmkit-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.gtmkit-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.gtmkit-px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.gtmkit-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.gtmkit-px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.gtmkit-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.gtmkit-px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.gtmkit-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gtmkit-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.gtmkit-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gtmkit-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gtmkit-px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.gtmkit-px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.gtmkit-px-\[7px\] {
  padding-left: 7px;
  padding-right: 7px;
}

.gtmkit-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.gtmkit-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.gtmkit-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.gtmkit-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gtmkit-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.gtmkit-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.gtmkit-py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.gtmkit-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gtmkit-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.gtmkit-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.gtmkit-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gtmkit-py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.gtmkit-py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.gtmkit-py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gtmkit-py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}

.gtmkit-pb-1\.5 {
  padding-bottom: 0.375rem;
}

.gtmkit-pb-2 {
  padding-bottom: 0.5rem;
}

.gtmkit-pb-4 {
  padding-bottom: 1rem;
}

.gtmkit-pb-5 {
  padding-bottom: 1.25rem;
}

.gtmkit-pb-6 {
  padding-bottom: 1.5rem;
}

.gtmkit-pb-\[14px\] {
  padding-bottom: 14px;
}

.gtmkit-pb-\[22px\] {
  padding-bottom: 22px;
}

.gtmkit-pl-5 {
  padding-left: 1.25rem;
}

.gtmkit-pl-6 {
  padding-left: 1.5rem;
}

.gtmkit-pr-4 {
  padding-right: 1rem;
}

.gtmkit-pt-1 {
  padding-top: 0.25rem;
}

.gtmkit-pt-3 {
  padding-top: 0.75rem;
}

.gtmkit-pt-3\.5 {
  padding-top: 0.875rem;
}

.gtmkit-pt-4 {
  padding-top: 1rem;
}

.gtmkit-pt-5 {
  padding-top: 1.25rem;
}

.gtmkit-pt-6 {
  padding-top: 1.5rem;
}

.gtmkit-text-left {
  text-align: left;
}

.gtmkit-text-center {
  text-align: center;
}

.gtmkit-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.gtmkit-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.gtmkit-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.gtmkit-text-\[11px\] {
  font-size: 11px;
}

.gtmkit-text-\[12px\] {
  font-size: 12px;
}

.gtmkit-text-\[13px\] {
  font-size: 13px;
}

.gtmkit-text-\[15px\] {
  font-size: 15px;
}

.gtmkit-text-\[17px\] {
  font-size: 17px;
}

.gtmkit-text-\[18px\] {
  font-size: 18px;
}

.gtmkit-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.gtmkit-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.gtmkit-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.gtmkit-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.gtmkit-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.gtmkit-font-bold {
  font-weight: 700;
}

.gtmkit-font-medium {
  font-weight: 500;
}

.gtmkit-font-normal {
  font-weight: 400;
}

.gtmkit-font-semibold {
  font-weight: 600;
}

.gtmkit-uppercase {
  text-transform: uppercase;
}

.gtmkit-italic {
  font-style: italic;
}

.gtmkit-tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.gtmkit-leading-5 {
  line-height: 1.25rem;
}

.gtmkit-leading-\[1\.45\] {
  line-height: 1.45;
}

.gtmkit-leading-\[1\.5\] {
  line-height: 1.5;
}

.gtmkit-leading-none {
  line-height: 1;
}

.gtmkit-leading-normal {
  line-height: 1.5;
}

.gtmkit-text-\[\#1a7f37\] {
  --tw-text-opacity: 1;
  color: rgb(26 127 55 / var(--tw-text-opacity, 1));
}

.gtmkit-text-\[\#7ee787\] {
  --tw-text-opacity: 1;
  color: rgb(126 231 135 / var(--tw-text-opacity, 1));
}

.gtmkit-text-\[\#8a6d00\] {
  --tw-text-opacity: 1;
  color: rgb(138 109 0 / var(--tw-text-opacity, 1));
}

.gtmkit-text-\[\#9a6700\] {
  --tw-text-opacity: 1;
  color: rgb(154 103 0 / var(--tw-text-opacity, 1));
}

.gtmkit-text-\[\#b32d2e\] {
  --tw-text-opacity: 1;
  color: rgb(179 45 46 / var(--tw-text-opacity, 1));
}

.gtmkit-text-blue-900 {
  --tw-text-opacity: 1;
  color: rgb(30 58 138 / var(--tw-text-opacity, 1));
}

.gtmkit-text-brand-primary {
  color: var(--gtmkit-color-brand-primary);
}

.gtmkit-text-color-grey {
  color: var(--gtmkit-color-grey);
}

.gtmkit-text-color-heading {
  color: var(--gtmkit-text-color-heading);
}

.gtmkit-text-color-primary {
  color: var(--gtmkit-color-primary);
}

.gtmkit-text-color-warning {
  color: var(--gtmkit-color-warning);
}

.gtmkit-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.gtmkit-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.gtmkit-text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.gtmkit-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.gtmkit-text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity, 1));
}

.gtmkit-text-green-900 {
  --tw-text-opacity: 1;
  color: rgb(20 83 45 / var(--tw-text-opacity, 1));
}

.gtmkit-text-info {
  color: var(--gtmkit-color-info);
}

.gtmkit-text-integration-woo {
  color: var(--gtmkit-color-integration-woo);
}

.gtmkit-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.gtmkit-text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity, 1));
}

.gtmkit-text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity, 1));
}

.gtmkit-text-red-900 {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity, 1));
}

.gtmkit-text-text-muted {
  color: var(--gtmkit-color-text-muted);
}

.gtmkit-text-text-primary {
  color: var(--gtmkit-color-text-primary);
}

.gtmkit-text-text-secondary {
  color: var(--gtmkit-color-text-secondary);
}

.gtmkit-text-tier-premium {
  color: var(--gtmkit-color-tier-premium);
}

.gtmkit-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.gtmkit-underline {
  text-decoration-line: underline;
}

.gtmkit-opacity-100 {
  opacity: 1;
}

.gtmkit-opacity-50 {
  opacity: 0.5;
}

.gtmkit-opacity-60 {
  opacity: 0.6;
}

.gtmkit-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.gtmkit-drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.gtmkit-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.gtmkit-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.gtmkit-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.gtmkit-duration-500 {
  transition-duration: 500ms;
}

.first\:gtmkit-border-t-0:first-child {
  border-top-width: 0px;
}

.hover\:gtmkit-bg-\[\#f6f7f7\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 247 / var(--tw-bg-opacity, 1));
}

.hover\:gtmkit-bg-brand-surface-subtle:hover {
  background-color: var(--gtmkit-color-brand-surface-subtle);
}

.hover\:gtmkit-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:gtmkit-bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.hover\:gtmkit-bg-page:hover {
  background-color: var(--gtmkit-color-bg-page);
}

.hover\:gtmkit-bg-red-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.hover\:gtmkit-text-color-heading:hover {
  color: var(--gtmkit-text-color-heading);
}

.hover\:gtmkit-text-text-primary:hover {
  color: var(--gtmkit-color-text-primary);
}

.hover\:gtmkit-underline:hover {
  text-decoration-line: underline;
}

.hover\:gtmkit-opacity-90:hover {
  opacity: 0.9;
}

.focus\:gtmkit-border-brand-primary:focus {
  border-color: var(--gtmkit-color-brand-primary);
}

.focus\:gtmkit-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.disabled\:\!gtmkit-bg-color-button-disabled:disabled {
  background-color: var(--gtmkit-button-disabled) !important;
}

.disabled\:\!gtmkit-text-color-grey:disabled {
  color: var(--gtmkit-color-grey) !important;
}

.disabled\:gtmkit-opacity-50:disabled {
  opacity: 0.5;
}

@media (min-width: 640px) {
  .sm\:gtmkit-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:gtmkit-mt-12 {
    margin-top: 3rem;
  }

  .md\:gtmkit-mt-16 {
    margin-top: 4rem;
  }

  .md\:gtmkit-mt-8 {
    margin-top: 2rem;
  }

  .md\:gtmkit-grid {
    display: grid;
  }

  .md\:gtmkit-max-w-xl {
    max-width: 36rem;
  }

  .md\:gtmkit-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:gtmkit-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  .min-\[1440px\]\:gtmkit-sticky {
    position: sticky;
  }

  .min-\[1440px\]\:gtmkit-top-\[112px\] {
    top: 112px;
  }

  .min-\[1440px\]\:gtmkit-block {
    display: block;
  }

  .min-\[1440px\]\:gtmkit-flex {
    display: flex;
  }

  .min-\[1440px\]\:gtmkit-w-\[400px\] {
    width: 400px;
  }

  .min-\[1440px\]\:gtmkit-min-w-0 {
    min-width: 0px;
  }

  .min-\[1440px\]\:gtmkit-max-w-\[1440px\] {
    max-width: 1440px;
  }

  .min-\[1440px\]\:gtmkit-flex-1 {
    flex: 1 1 0%;
  }

  .min-\[1440px\]\:gtmkit-shrink-0 {
    flex-shrink: 0;
  }

  .min-\[1440px\]\:gtmkit-items-start {
    align-items: flex-start;
  }

  .min-\[1440px\]\:gtmkit-gap-6 {
    gap: 1.5rem;
  }

  .min-\[1440px\]\:gtmkit-self-start {
    align-self: flex-start;
  }
}
