@import "partials/base";

.gtmkit-admin-page #wpcontent {
	padding-left: 0 !important;

	*,
	*::before,
	*::after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.gtmkit_header {
	padding: 24px var(--gtmkit-space-h);

	h1#gtmkit-title {
		margin: 0;
		display: flex;
		align-items: center;

		font-size: 28px;
		font-weight: 500;

		img {
			margin-right: 1em;
		}
	}
}

.gtmkit-header-navigation {
	align-items: center;
	background: var(--gtmkit-background-white);
	border-color: var(--gtmkit-border-color);
	border-style: solid;
	border-width: 1px 0;
	display: flex;
	justify-content: space-between;
	min-height: 60px;
	padding: 0 var(--gtmkit-space-h);

	.gtmkit-nav-tab-wrapper {
		display: flex;
		align-items: center;
		margin: 0;

		li {
			margin-bottom: 0;
			margin-right: 2rem;
			outline: 0 !important;
			border-top: none;

			a {
				border-bottom: 4px solid var(--gtmkit-background-white);
				color: var(--gtmkit-text-color-grey);
				display: block;
				font-weight: 600;
				padding: 20px 0 18px 0;
				text-decoration: none;
				transition: border 300ms ease;
				box-shadow: none;

				&.active,
				&.active:focus,
				&.active:focus:active {
					border-color: var(--gtmkit-color-primary);
					color: var(--gtmkit-text-color-heading);
					border-top: none;
				}

				&.active:hover,
				&:hover {
					border-color: var(--gtmkit-text-color-grey);
				}

			}
		}

		.nav-tab-active,
		.nav-tab-active:focus,
		.nav-tab-active:focus:active,
		.nav-tab-active:hover {
			border-color: var(--gtmkit-color-primary);
			color: var(--gtmkit-text-color-heading);
		}
	}
}

.gtmkit-tab {
	padding: 24px var(--gtmkit-space-h);
	display: none;
	max-width: 1920px;

	&.active {
		display: block;
	}

	label.select,
	label.textinput {
		float: left;
		width: 200px;
		margin: 5px 0;
	}

	input.textinput, select, textarea {
		width: 400px;
	}

	.description {
		margin: 5px;
	}

	.success {
		color: var(--gtmkit-color-success);
	}

	.error {
		color: var(--gtmkit-color-error);
	}

	input[type="radio"] {
		margin-bottom: -4px;
	}

	.form-table {
		margin-top: 20px;

		th,
		td {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		td fieldset label {

			font-size: 13px;

			&.radio {
				line-height: 1;
			}
		}
	}

	.gtmkit-form-legend {
		font-size: 14px;
		font-weight: 600;
	}
}

.gtmkit-metabox {
	background: var(--gtmkit-background-white);
	border: 1px solid var(--gtmkit-border-color);
	border-radius: 4px;
}

.gtmkit-items-list {
	padding: calc(var(--gtmkit-space-v) / 2) 12px 0;
	width: 100%;

	ul {
		align-content: stretch;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 0;
	}

	&.single-item {
		padding-left: 0;

		.gtmkit-list-item {
			margin-left: 0;
		}
	}
}

.gtmkit-list-item {
	background: var(--gtmkit-background-white);
	border: 1px solid var(--gtmkit-border-color);
	border-radius: 4px;
	margin-bottom: 24px;
	margin-right: 12px;
	margin-left: 12px;
	max-width: 100%;
	padding: 16px 20px;
	position: relative;
	width: 100%;

	&.disabled {
		opacity: 0.5;
	}

	h3 {
		font-size: var(--gtmkit-font-size-m);
		line-height: 1.2;
		margin: 0;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap
	}

	p {
		margin-bottom: 0;
	}

	.gtmkit-list-item-pill {
		position: absolute;
		top: 16px;
		right: 16px;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		padding: 4px 8px;
		border-radius: 40px;

		&.gtmkit-list-item-pill-green {
			background: var(--gtmkit-color-success);
			color: #fff
		}

		&.gtmkit-list-item-pill-orange {
			background: var(--gtmkit-color-warning);
			color: #fff
		}

		&.gtmkit-list-item-pill-red {
			background: var(--gtmkit-color-error);
			color: #fff
		}

	}

	&.gtmkit-list-item-has-pill h3 {
		max-width: calc(100% - 60px)
	}

}

@media (min-width: $breakpoint-tablet) {
	.gtmkit-list-item {
		width: calc(50% - 24px)
	}
}

@media (min-width: $breakpoint-desktop-large) {
	.gtmkit-list-item {
		width: calc(100% / 3 - 24px)
	}
}


.gtmkit-list-item-actions {
	position: relative;
	min-height: 40px;
}


.gtmkit-list-item:hover .gtmkit-list-item-description, .gtmkit-list-item:focus .gtmkit-list-item-description {
	opacity: 0
}

.gtmkit-list-item:hover .gtmkit-list-item-buttons, .gtmkit-list-item:focus .gtmkit-list-item-buttons {
	opacity: 1
}

.gtmkit-list-item-buttons {
	display: flex;
	justify-content: space-between;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;

	.gtmkit-button {
		flex-grow: 1;
		margin-left: 10px;
		text-align: center;
		background-color: var(--gtmkit-button-primary-bg);
		border: 1px solid var(--gtmkit-button-primary-bg);
		border-radius: 4px;
		color: var(--gtmkit-button-primary-text);
		cursor: pointer;
		display: inline-block;
		font-size: var(--gtmkit-font-size-s);
		font-weight: 700;
		line-height: 1;
		padding: 10px 16px;
		text-decoration: none;

		&.gtmkit-button-secondary {
			background-color: var(--gtmkit-button-secondary-bg);
			border: 1px solid var(--gtmkit-button-secondary-border);
			color: var(--gtmkit-button-secondary-text);

			&:hover,
			&:focus {
				background-color: var(--gtmkit-button-secondary-bg-hover);
				border-color: var(--gtmkit-button-secondary-border);
				color: var(--gtmkit-button-secondary-text-hover)
			}
		}

		&:first-child {
			margin-left: 0
		}

		&:hover,
		&:focus {
			background-color: var(--gtmkit-button-primary-bg-hover);
			border-color: var(--gtmkit-button-primary-bg-hover);
			color: var(--gtmkit-button-primary-text-hover)
		}
	}

}


#gtmkit-submit-container {
	padding: 24px var(--gtmkit-space-h);
}

#sidebar-container {
	width: 300px;
	padding-left: 20px;
	padding-top: 10px;

	h3 {
		padding: 8px 12px;
		margin: 0;
		line-height: 1.4;
	}

	ul {
		margin: 1em;
	}

	a {
		text-decoration: none;
	}

	.inside {
		background: var(--gtmkit-background-white);
		border-left: 0;
		border-right: 0;
	}

	#credit {
		text-align: center;
		font-size: 10px;
		color: #888;
		line-height: 3em;
		margin: 3em 0;
		min-width: 255px;
	}

}

.gtmkit-clear {
	&:before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}

.gtmkit-setting-row {
	border-bottom: 1px solid #e4e4e4;
	padding: 30px 0;
	font-size: 14px;
	line-height: 1.3;

	&:first-of-type {
		padding-top: 10px !important;
	}

	&.inactive {
		display: none;
	}

	.gtmkit-setting-mid-row-sep {
		background: #e4e4e4;
		height: 1px;
		border: 0;
		margin: 15px 0;
	}

	&.section-heading {
		padding: 20px 0;

		&.no-desc {
			h2,
			h4 {
				margin: 0;
			}
		}

		.gtmkit-setting-field {
			margin: 0;
			max-width: 1005px;
		}
	}

	&.gtmkit-setting-row-checkbox {

		input[type=checkbox] {
			float: left;
			margin: 1px 0 0 0;
		}

		input[type=checkbox] + label {
			margin: 0 0 0 8px;
			vertical-align: baseline;
		}

		.desc {
			margin: 0 0 0 30px;
		}

		input[type=checkbox] + label + .desc {
			margin: 8px 0 0 0;
		}
	}

	&.gtmkit-setting-row-text,
	&.gtmkit-setting-row-password,
	&.gtmkit-setting-row-number,
	&.gtmkit-setting-row-email {

		.gtmkit-setting-label {
			padding-top: 8px;
		}
	}

	&.gtmkit-setting-row-select {

		.gtmkit-setting-label {
			padding-top: 8px;
		}
	}

	&.gtmkit-setting-row-radio {

		.gtmkit-setting-field {

			input[type=radio] {
				margin: -3px 10px 0 0;
			}

			label {
				margin-right: 30px;
				display: inline-block;
			}
		}

	}

	&.gtmkit-setting-row-checkbox-toggle {

		.gtmkit-setting-field {

			label {
				vertical-align: middle;
				display: inline-block;
			}

			input[type=checkbox] {
				position: absolute;
				top: auto;
				overflow: hidden;
				clip: rect(1px, 1px, 1px, 1px);
				width: 1px;
				height: 1px;
				white-space: nowrap;

				&:checked + .gtmkit-setting-toggle-switch {
					background-color: #00a32a;

					&:before {
						-webkit-transform: translateX(16px);
						-ms-transform: translateX(16px);
						transform: translateX(16px);
					}
				}

				&:disabled {
					&:checked:hover + .gtmkit-setting-toggle-switch,
					&:not(:checked):hover + .gtmkit-setting-toggle-switch {
						box-shadow: none;
					}

					&:not(:checked):hover + .gtmkit-setting-toggle-switch {
						background-color: #ddd;
					}

					& + .gtmkit-setting-toggle-switch {
						background-color: #ddd;
						cursor: default;
					}

					&:checked + .gtmkit-setting-toggle-switch {
						background-color: lighten(#00a32a, 25);
						cursor: default;
					}
				}

				&:checked + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label {
					display: inline-block;
				}

				&:checked + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label + .gtmkit-setting-toggle-unchecked-label {
					display: none;
				}

				&:disabled + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-checked-label,
				&:disabled + .gtmkit-setting-toggle-switch + .gtmkit-setting-toggle-unchecked-label {
					color: lighten(#444, 40);
				}

				&:checked:hover,
				&:checked:focus {
					& + .gtmkit-setting-toggle-switch {
						box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00a32a;
					}
				}

				&:not(:checked):hover,
				&:not(:checked):focus {
					& + .gtmkit-setting-toggle-switch {
						background-color: #999;
						box-shadow: 0 0 0 1px #fff, 0 0 0 3px #999;
					}
				}
			}

			.gtmkit-setting-toggle-unchecked-label,
			.gtmkit-setting-toggle-checked-label {
				text-transform: uppercase;
				font-weight: 400;
				color: #777;
				font-size: 13px;
			}

			.gtmkit-setting-toggle-checked-label {
				display: none;
			}

			.gtmkit-setting-toggle-switch {
				position: relative;
				cursor: pointer;
				background-color: #ccc;
				border-radius: 15px;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				vertical-align: middle;
				display: inline-block;
				margin: 0 5px 0 0;
				width: 36px;
				height: 20px;

				&:before {
					position: absolute;
					content: "";
					height: 16px;
					width: 16px;
					left: 2px;
					top: 2px;
					background-color: #fff;
					border-radius: 50%;
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-ms-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}

	h2, h4 {
		color: #444;
		font-size: 20px;
		font-weight: 700;
		margin: 0 0 6px 0;
	}

	h2 {
		margin-bottom: 15px;
	}

	h3 {
		color: #444;
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 20px 0;
	}

	h5 {
		color: #444;
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 20px 0;
	}

	p {
		margin: 12px 0 0;
		font-size: 14px;
		line-height: 1.5em;

		&:first-of-type {
			margin: 8px 0 0;
		}

		&.desc {
			font-style: italic;
			color: #777;
		}

		&.buttonned {
			margin-top: 30px;
		}

	}

	ul {
		margin: 8px 0 0;

		&.list {
			li {
				margin-left: 20px;
				list-style-type: disc;
			}
		}
	}

	table {
		&.actions-list {
			td, th {
				padding: 5px 5px 5px 0;
				text-align: left;
			}

			td {
				&.email {
					padding-right: 2em;
				}

				&.status {
					width: 100px;
				}

				&.actions {
					a {
						border-bottom: 1px solid;
						display: inline-block;
						margin-right: 5px;
						text-decoration: none;

						&[class*=delete],
						&[class*=error] {
							color: #a00;

							&:hover, &:active, &:focus {
								color: darken(#a00, 20);
							}
						}
					}
				}
			}

		}
	}

	input[type=text],
	input[type=email],
	input[type=number],
	input[type=password],
	select {
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: none;
		color: #333;
		display: inline-block;
		vertical-align: middle;
		padding: 7px 12px;
		margin: 0 10px 0 0;
		width: 400px;
		min-height: 35px;
		line-height: 1.3;


		&[readonly] {
			background-color: #f9f9f9;
		}

		&.small-text {
			width: 75px;
		}

		&:focus {
			border: 1px solid #016AAB;
			box-shadow: 0 0 0 1px #016AAB;
			outline: none;
		}

		&:disabled {
			opacity: 0.6;
		}
	}

	input[type=checkbox],
	input[type=radio] {
		&:focus {
			border: 1px solid #016AAB;
			box-shadow: 0 0 0 1px #016AAB;
			outline: none;
		}
	}

	.gtmkit-dashicons-yes-alt-green {
		&.gtmkit-animate {
			-webkit-animation: gtmkit-fade-in-stop-out 1s linear;
			animation: gtmkit-fade-in-stop-out 1s linear;
		}

		&.gtmkit-success {
			color: #00a32a;
		}
	}
}

.gtmkit-setting-label {
	display: block;
	float: left;
	width: 225px;
	padding: 0 20px 0 0;

	label {
		display: block;
		font-weight: 600;
	}
}

.gtmkit-setting-field {
	display: block;
	margin: 0 0 0 225px;
	max-width: 800px;

	hr {
		margin: 20px 0;
	}

	.gtmkit-setting-field-row {
		display: flex;
		flex-wrap: wrap;

		& > .gtmkit-btn {
			margin-right: 10px;
		}
	}
}

.gtmkit_radio_block {
	line-height: 20px;
}

[class^="gtmkit-dashicons"] {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.gtmkit-dashicons-yes-alt-green {
	background-image: url('../images/icons/dashicons/dashicons-yes-alt-green.svg');
}

.gtmkit-dashicons-pdf-gray {
	background-image: url('../images/icons/dashicons/dashicons-pdf-grey.svg');
}

code {
	font-style: normal;
}

.gtmkit_section_message {
	&.space-top {
		margin-top: 100px;
	}

	&.warning {
		margin-top: 10px;
		width: fit-content;
	}

	width: 75%;

	h3 {
		padding: 8px 12px;
		margin: 0;
		line-height: 1.4;

		.version {
			color: #777;
			font-size: 12px;
			margin-left: 8px;
			font-weight: 400;
		}
	}

	ul {
		margin: 1em;

		li {
			margin-bottom: 12px;
		}
	}
}
